{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}

    <div class="container">
        <div class ="row">
            <div class="col-md-8" id="presentation">
                
                
            <h1>CV</h1>
                <ul class="cv">
                    <h2>Formations</h2>
                    <li> 2008 - 2009 :          BPJEPS AGFF mention forme au CREPS de MONTPELLIER validé.</li>
                    <li> 2005 – 2007 :         Etudiante en 1ère et 2éme année de STAPS à Montpellier (Education et Motricité, option Danse Contemporaine avec Mme J. TAFFANEL)</li>
                    <br>
                    <h2>Diplomes Complementaires</h2>
                    <li>    Le 27/04/19 :          Obtention diplôme YOGA vinyasa débutant</li>
                    <li>    Le 22/08/2017 :           Obtention diplôme STRONG by zumba.</li>
                    <li>    Le 7/04/2013 :              Obtention module PILATES mat 1 (bycy formation castries)</li>
                    <li>    Le 24/10/2012 :            Obtention diplome ZUMBA GOLD.</li>
                    <li>    Le 21/04/2012 :            Obtention diplôme ZUMBA BASIC 1.</li>
                    <li>    Le 08/01/2011 :             Obtention certification GYM SENIOR par la FFGym</li>
                    <li>Le 27 /02 / 08 :              Formation et obtention du PSC1 (Attestation aux Premiers Secours).</li>
                </ul>                    
            </div>
            <div class="col-md-4">
                <img src="{{asset('asset/images/' ~ imagePresentation.image )}}" alt="Une image de presentation" id="photomont">
            </div>

    </div>

    

{% endblock %}