{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-md-center" >
            <h1>Un peu sur moi!</h1>
            
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, nemo sed molestiae nesciunt voluptatem animi. Tempore pariatur quas esse itaque? Quaerat porro eos fugiat. Quod et explicabo eligendi deleniti praesentium.
                Voluptates fugiat possimus deserunt veniam, ipsum reiciendis quisquam eveniet corrupti iure, ullam aliquid ex esse sequi dicta architecto quibusdam dolore deleniti blanditiis, explicabo magni cupiditate laborum totam doloremque quod! Asperiores.
                Quod, repudiandae quidem. Odio autem corporis nulla sapiente dolor dolorem quaerat omnis ducimus sequi nobis dolorum minima beatae accusantium ipsam, amet velit laudantium doloremque ad perferendis tenetur eveniet. Quisquam, quam.
                Debitis dicta voluptates id eveniet voluptate quis eaque, alias quidem quas rerum labore voluptatibus quasi doloribus? Error omnis quasi facilis labore consequatur id illo, ipsa quidem at aliquid reprehenderit dolore?
                Eligendi numquam quod nisi quo amet facere itaque eum in assumenda cumque, quis magni animi nostrum cum, possimus autem aliquid! Nulla velit, totam qui illo unde natus. Consectetur, perferendis incidunt?
                Perferendis vitae dolore quaerat dolorum soluta laudantium reiciendis quibusdam quisquam doloribus. Cum fugit placeat minus molestiae sit qui quo reiciendis perspiciatis quisquam. Praesentium laboriosam temporibus, itaque velit sequi in excepturi?</p>

        </div>

        </div>

    </div>


{% endblock %}