{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}

    <div class="container">
        <div class ="row">
            <div class="col-lg-7" >
                <h1>Un peu sur moi!</h1>
                
                    <h3>Passionnée de danse et de sport,
                        j'enseigne depuis 2009 après l'obtention de mon diplôme au creps de Montpellier.
                        Pouvoir faire de ma passion un métier est une vrai chance que je cultive au quotidien ;)
                        En danse tout d'abord où je peut, au travers de mes cours ,faire partager mon univers (hip hop,contemporain, street jazz...)
                        Puis dans le fitness où je peut prendre soin des gens,les faire s'évader,se dépasser et se sentir bien dans leur corps au travers des cours de cardio,zumba,renfo,pilates,stretching et récemment yoga.
                    </h3>



            </div>
            <div class="col-lg-5">
                <img src="asset/images/IMG-20200204-WA0016.jpg" alt="">
            </div>

    </div>

    

{% endblock %}