body{
    background-color: lightgray;
    
}


#nav{
    background-color: coral;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: coral;
    color: white;
    text-align: center;
  }
h1{
    text-align: center;
}

.carousel{
    width:800px;
    margin: auto;
}
#photomont{
    height:750px;
    width:550;
}