body{
    background-color: lightgray;
    
}


#nav{
    background-color: coral;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: coral;
    color: white;
    text-align: center;
  }
h1{
    text-align: center;
    text-decoration: underline;
}

.carousel{
   
    width:800px;
    height: 550px !important;
    margin: auto;
    overflow: hidden;
}
#photomont{
    margin-top:50px ;
    height:750px;
    width:550;
}
.cv{
    font-weight: 550;
}
#service{
    margin-top: 35px;
}
#presentation{
    margin-top: 50px;
}

#photo_gallery{
    max-width: fit-content;
    max-height: fit-content;
    
}