{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    
   <div class="container">
        <div class ="row">
            <div class="col-lg-center" >
                <h1>Services proposés</h1>
                <h4>
                    Durant mes 11 ans d’enseignement en salle de fitness et associations, j’ai toujours recherché la diversité pour aider le maximum de personnes dans leur objectif et afin qu’ils ne se laissent jamais en étant bloqué dans une autre routine.
                    Vous pourrez ainsi trouver ce qui vous convient pour mener a bien votre projet de bienêtre et d’alimentation de votre quotidien, physiquement et moralement.
                    Ainsi je vous propose un large choix d’activités adaptées à vos objectifs ou besoin.

                   
                </h4>
            </div>
        </div>

        <div class="row" id="service">
            <div class="col-sm-4">
                <div class="card" >
                    <img src="asset/images/logo-5e428481968d7698245983.png" class="card-img-top" alt="un logo">
                    <div class="card-body">
                      <h5 class="card-title" id="coach">Coaching, remise en forme/perte de poids</h5>
                      <p class="card-text">
                        <ul>
                          <li>Musculation/Renforcement</li>
                          <li>Circuit Training/Hiit/Liss</li>
                          <li>Aide plan alimentaire</li>
                          <li>Strong &reg;</li>
                      </ul>.</p>
                      <a href="strong.zumba.com/fr-FR/member/profile" class="btn btn-primary">En Savoir Plus</a>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-4">
                <div class="card" >
                    <img src="asset/images/logo-strong-5e4285a462d44111875749.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Amélioration de la posture & Pratiques douces</h5>
                      <p class="card-text">
                        <ul>
                          <li>Pilates</li>
                          <li>Stretching</li>
                          <li>Relaxation</li>
                          <li>Yoga</li>
                          <li>Swiss Ball</li>
                      </ul>.</p>
                      <a href="https://strong.zumba.com/fr-FR" class="btn btn-primary">En Savoir Plus</a>
                    </div>
                 </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" >
                        <img src="asset/images/yoga-5e4287275e7a2745850724.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Cours privés ludiques/fun/défoulement</h5>
                          <p class="card-text">
                            <ul>
                              <li>Zumba&reg; groupe restreint</li>
                              <li>Danses urbaines(street jazz, ragga</li>
                              <li>EVJF</li>
                              <li>Choréographie de mariage</li>
                          </ul>
                          <a href="#" class="btn btn-primary">En Savoir Plus</a>
            </div>
        </div>
        </div>
                <div class="col-sm-4">
                    <div class="card" >
                        <img src="asset/images/yoga-5e4287275e7a2745850724.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Coaching sportif en entreprise</h5>
                          <p class="card-text">
                            <ul>
                              <li>Cours collectifs en groupe restreint</li>
                              
                          </ul>
                          <a href="#" class="btn btn-primary">En Savoir Plus</a>
            </div>
        </div>
        </div>
{% endblock %}