{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    
   <div class="container">
        <div class ="row">
            <div class="col-lg-center" >
                <h1>Services proposé</h1>
                <h4>
                    Passionnée de danse et de sport,
                    j'enseigne depuis 2009 après l'obtention de mon diplôme au creps de Montpellier.
                    Pouvoir faire de ma passion un métier est une vrai chance que je cultive au quotidien ;)
                    En danse tout d'abord où je peut, au travers de mes cours ,faire partager mon univers (hip hop,contemporain, street jazz...)
                    Puis dans le fitness où je peut prendre soin des gens,les faire s'évader,se dépasser et se sentir bien dans leur corps au travers des cours de cardio,zumba,renfo,pilates,stretching et récemment yoga.
                </h4>
            </div>
        </div>

        <div class="row" id="service">
            <div class="col-sm-4">
                <div class="card" >
                    <img src="asset/images/logo-5e428481968d7698245983.png" class="card-img-top" alt="un logo">
                    <div class="card-body">
                      <h5 class="card-title">Zumba&reg;</h5>
                      <p class="card-text">Un peu de fitness dansé avec de la musique latine de ses morts.</p>
                      <a href="https://www.zumba.com/fr-FR/" class="btn btn-primary">En Savoir Plus</a>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-4">
                <div class="card" >
                    <img src="asset/images/logo-strong-5e4285a462d44111875749.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Strong&reg;</h5>
                      <p class="card-text">Un peu de renfo en mode "tu vas mourir enflure".</p>
                      <a href="https://strong.zumba.com/fr-FR" class="btn btn-primary">En Savoir Plus</a>
                    </div>
                 </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" >
                        <img src="asset/images/yoga-5e4287275e7a2745850724.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Yoga</h5>
                          <p class="card-text">Un peu de souplesse dans ce monde de brutes.<br> Namaste.  </p>
                          <a href="#" class="btn btn-primary">En Savoir Plus</a>
            </div>
        </div>
{% endblock %}