{% extends 'base.html.twig' %}

{% block title %}Contact!{% endblock %}

{% block body%}

<h1>Envoyez un Petit Message!</h1>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            {{ form_start(my_form)}}
            {{ form_widget(my_form)}}
            
            <input type="submit" value="Envoyer" class="btn btn-success btn-block">
        
            {{ form_end(my_form)}}

        </div>
    </div>
</div>

{% endblock %}